.pratica {
    margin-top: 1rem;
}
.pratica .numero1, .numero2 {
    margin-bottom: 1rem;
}

.pratica .numero1 input, .numero2 input {
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
} 

.pratica button {
    margin-top: 1rem;
    width: 100%;
}

.pratica .mini-calculadora {
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1rem;
}

.pratica .mini-calculadora {
    background-color: var(--cor-amarela-neutra-clara);
}

.pratica input::placeholder {
    color: #b8b8b8;
}

.pratica p {
    text-align: center;
}